.example-tree-invisible {
    display: none;
}
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-tree-node {
    //overflow: visible !important;
    min-width: max-content;
}

.example-tree {
    height: 95vh;
    overflow: auto;
    width: 15vw;
    background-color: rgb(37, 37, 37);
}

.node {
    color: white;
    cursor: pointer;
}