.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: 100%;
    background-color: #55aa55;
    overflow: auto;
}

.mat-elevation-z8 {
    max-width: 100%;
    height: auto;
    padding: 40px;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.register-form {
    margin: 10px;
}

.register-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #55aa55;
    color: white;
}

.register-button:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.password-toggle:hover {
    cursor: pointer;
}

.message{
    color: red;
}