<div class="profile">
    <div class="mat-elevation-z8 mat-elevation-z8-profile">
        <mat-spinner class="spinner" *ngIf="loadingData else loaded"></mat-spinner>
        <ng-template #loaded>
            <!--<img src="" alt="logo">-->
            <!-- <br> -->
            <!-- <h3>{{currentUser?.fullName}}</h3> -->
            <!-- <p>{{currentUser?.username}}</p> -->
            <!-- <div class="profile-picture"><h1>{{userService.userInitials(currentUser)}}</h1></div> -->
            <!-- <br> -->
            <div [formGroup]="form">
                <mat-form-field>
                    <input matInput name="fullName" formControlName="fullName" type="text" placeholder="Full name">
                    <mat-error>{{formError.mapErrors(form.get('fullName'), 'Full name')}}</mat-error>
                </mat-form-field>&nbsp;
                <mat-form-field>
                    <input matInput name="username" formControlName="username" type="text" placeholder="Username">
                    <mat-error>{{formError.mapErrors(form.get('username'), 'Username')}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="email" formControlName="email" type="text" placeholder="Email address">
                    <mat-error>{{formError.mapErrors(form.get('email'), 'Email address')}}</mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <input matInput name="oldPassword" formControlName="oldPassword" placeholder="Password"
                        [type]="hide ? 'password' : 'text'">
                    <mat-error>{{formError.mapErrors(form.get('oldPassword'), 'Password')}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="newPassword" formControlName="newPassword" placeholder="New password"
                        [type]="hide ? 'password' : 'text'">
                    <mat-error>{{formError.mapErrors(form.get('newPassword'), 'New password')}}</mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <input matInput name="repeatNewPassword" formControlName="repeatNewPassword"
                        placeholder="Repeat new password" [type]="hide ? 'password' : 'text'">
                    <mat-error>{{formError.mapErrors(form.get('repeatNewPassword'), 'Repeat new password')}}</mat-error>
                </mat-form-field>
                <p class="message">{{message}}</p>
                <!-- <button class="register-button" mat-raised-button [routerLink]="['/']">BACK</button> -->
                &nbsp;
                <button [disabled]="loading ? true : false" class="register-button" mat-raised-button
                    (click)="onSave()">Save</button>
            </div>
        </ng-template>
    </div>
</div>