<div class="project-manager">
  <div class="project-manager-menu">
    <span class="board-title"><b>{{board.title}}</b></span>&nbsp;&nbsp;
    <button mat-icon-button class="board-more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!--
    <button *ngIf="!showAddListBool" class="black whitesmoke" mat-button (click)="showAddList()">
      <mat-icon>add</mat-icon>
      <span>New list</span>
    </button>
    -->
    <span>
      <mat-form-field class="add-list-title">
        <mat-label class="white">Enter list title</mat-label>
        <input #listTitleInput class="white" matInput [(ngModel)]="listTitle" (keyup.enter)="addList()">
      </mat-form-field>
      &nbsp;
      <button class="black whitesmoke" mat-button (click)="addList()">
        Add list
      </button>
      <!--
      &nbsp;
      <button class="black whitesmoke" mat-button (click)="showAddList()">
        Cancel
      </button>
      -->
    </span>
  </div>
  <table cellspacing="0" class="lists" [ngStyle]="{'width': sharedDataService.contextViewOn ? '80vw' : '95vw'}">
    <tr cdkDropListGroup>
      <td class="example-container" *ngFor="let list of lists; index as i">
        <div id="{{list.id}}" cdkDropList [cdkDropListData]="list.cards" [cdkDropListConnectedTo]="connectedTo"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="list-header">
            <h3 class="list-title">{{list.title}}</h3>
            <button mat-icon-button class="list-more">
              <mat-icon>more_vert</mat-icon>
            </button>
            <!--
            <button mat-icon-button class="list-more" matTooltip="New card" (click)="showAddCard(i)">
              <mat-icon>add</mat-icon>
            </button>
            -->
          </div>
          <div class="example-box cursor-default list-header">
            <mat-form-field class="add-card-title">
              <mat-label class="black">Enter card title</mat-label>
              <input matInput [(ngModel)]="cardTitle[i]" #cardTitleInput (keyup.enter)="addCard(i)">
            </mat-form-field>
            &nbsp;
            <button mat-button (click)="addCard(i)" class="black whitesmoke">
              Add card
            </button>
          </div>
          <div class="list-content">
            <div class="example-box" *ngFor="let item of list.cards" cdkDrag>{{item.title}}</div>
          </div>

        </div>
      </td>
    </tr>
  </table>
</div>