<div class="project-manager" [ngStyle]="{'background-color':boardBackground}">
  <div class="project-manager-menu">
    <button mat-icon-button class="home" [routerLink]="['/boards']" matTooltip="Home"><mat-icon>home</mat-icon></button>
    <span class="board-title"><b>{{board?.title}}</b></span>
    <button mat-icon-button class="board-more" #boardMoreButton [matMenuTriggerFor]="boardMoreMenu"
      #boardMoreTrigger="matMenuTrigger" [ngStyle]="{'color': lightBackground ? 'black' : 'white'}">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #boardMoreMenu="matMenu">
      <span>
        <div class="menu-header">
          <button mat-button disabled class="float-left">Board actions</button>
          <button mat-icon-button class="white close">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="aboutThisBoard" #aboutThisBoardTrigger="matMenuTrigger">About this
          board</button>
        <mat-menu #aboutThisBoard="matMenu" (closed)="saveBoardDescriptionDialog()">
          <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field>
              <mat-label class="white">Description</mat-label>
              <textarea cdkTextareaAutosize #boardDescriptionAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" matInput placeholder="Enter board description" [(ngModel)]="boardDescription"
                #boardDescriptionInput class="white"></textarea>
            </mat-form-field>
            <br>
            <button class="center white background-color-gray save" mat-button
              (click)="saveBoardDescription()">Save</button>
          </div>

        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="changeBackgroundMenu"
          #changeBackgroundTrigger="matMenuTrigger">Change background</button>
        <mat-menu #changeBackgroundMenu="matMenu">
          <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field>
              <mat-label class="white">Color</mat-label>
              <input #changeBackgroundInput type="color" class="white" matInput [(ngModel)]="boardBackground"
                (change)="changeBackground()">
            </mat-form-field>
          </div>
        </mat-menu>

        <mat-divider></mat-divider>
        <button mat-menu-item (click)="$event.stopPropagation();showAddList()">New list</button>
        <button [disabled]="board?.lists.length < 1" class="delete" mat-menu-item (click)="deleteAllListsDialog()">Delete all lists</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="renameBoardMenu" #renameBoardTrigger="matMenuTrigger">Rename
          board</button>
        <mat-menu #renameBoardMenu="matMenu" (closed)="saveBoardTitleDialog()">
          <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field>
              <mat-label class="white">Title</mat-label>
              <input #renameBoardInput placeholder="Enter board title" class="white" matInput [(ngModel)]="boardTitle"
                (keyup.enter)="renameBoard()">
            </mat-form-field>
            <br>
            <button class="center white background-color-gray save" mat-button (click)="renameBoard()">Save</button>
          </div>

        </mat-menu>
        <button class="delete" mat-menu-item>Delete board</button>
      </span>
    </mat-menu>
    <!--
    <button *ngIf="!showAddListBool" class="black whitesmoke" mat-button (click)="showAddList()">
      <mat-icon>add</mat-icon>
      <span>New list</span>
    </button>
    -->
    &nbsp;&nbsp;
    <span>
      <mat-form-field [ngClass]="lightBackground ? 'add-list-title-black' : 'add-list-title'">
        <mat-label [ngClass]="lightBackground ? 'black-important' : 'white'">Enter list title</mat-label>
        <input #listTitleInput [ngClass]="lightBackground ? 'black-important' : 'white'" matInput
          [(ngModel)]="listTitle" (keyup.enter)="addList()">
      </mat-form-field>
      &nbsp;
      <button class="black whitesmoke" mat-button (click)="addList()">
        Add list
      </button>
      <!--
      &nbsp;
      <button class="black whitesmoke" mat-button (click)="showAddList()">
        Cancel
      </button>
      -->
    </span>
  </div>
  <table cellspacing="0" class="lists" [ngStyle]="{'width': sharedDataService.contextViewOn ? '80vw' : '95vw'}">
    <tr class="example-list-lists" cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropList($event)">
      <td class="example-container example-box-lists" *ngFor="let list of board?.lists; index as i" cdkDrag>
        <div id="{{list.id}}" cdkDropList [cdkDropListData]="list.cards" [cdkDropListConnectedTo]="connectedTo"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="list-header" cdkDragHandle>
            <h3 class="list-title">{{list.title}}</h3>
            <button mat-icon-button class="list-more" #listMoreButton [matMenuTriggerFor]="listMoreMenu"
              #listMoreTrigger="matMenuTrigger" (click)="listTitleRename = list.title">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #listMoreMenu="matMenu">
              <span>
                <div class="menu-header">
                  <button mat-button disabled class="float-left">List actions</button>
                  <button mat-icon-button class="white close">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="$event.stopPropagation();showAddCard(i)">New card</button>
                <!--<button mat-menu-item>Copy list</button>-->
                <button mat-menu-item [disabled]="board?.lists.length < 2" [matMenuTriggerFor]="moveListMenu"
                  #moveListTrigger="matMenuTrigger">Move list</button>
                <mat-menu #moveListMenu="matMenu"
                  (closed)="moveListDialog(i, selectedMoveListPosition, selectedMoveList)">
                  <div class="menu-item-padding" (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()">
                    <mat-form-field>
                      <mat-label class="white">Select a position</mat-label>
                      <mat-select [(value)]="selectedMoveListPosition">
                        <mat-option value="before">Before</mat-option>
                        <mat-option value="after">After</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label class="white">Select a list</mat-label>
                      <mat-select [(value)]="selectedMoveList">
                        <ng-container *ngFor="let list of board?.lists; index as j">
                          <mat-option *ngIf="i!=j" [value]="j">{{list.title}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                    <br>
                    <button class="center white background-color-gray save" mat-button
                      (click)="moveList(i, selectedMoveListPosition, selectedMoveList)"
                      [disabled]="selectedMoveListPosition==undefined || selectedMoveList==undefined">Move</button>
                  </div>
                </mat-menu>

                <button mat-menu-item [matMenuTriggerFor]="renameListMenu" #renameListTrigger="matMenuTrigger">Rename
                  list</button>
                <mat-menu #renameListMenu="matMenu" (closed)="saveListTitleDialog(i)">
                  <div class="menu-item-padding" (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()">
                    <mat-form-field>
                      <mat-label class="white">Title</mat-label>
                      <input #renameListInput placeholder="Enter list title" class="white" matInput
                        [(ngModel)]="listTitleRename" (keyup.enter)="renameList(i)">
                    </mat-form-field>
                    <br>
                    <button class="center white background-color-gray save" mat-button
                      (click)="renameList(i)">Save</button>
                  </div>
                </mat-menu>
                <button class="delete" mat-menu-item (click)="deleteListDialog(i)">Delete list</button>

                <mat-divider></mat-divider>

                <button mat-menu-item [disabled]="list.cards.length == 0" [matMenuTriggerFor]="copyAllCardsMenu"
                  #copyAllCardsTrigger="matMenuTrigger">Copy
                  all cards</button>
                <mat-menu #copyAllCardsMenu="matMenu" (closed)="copyAllCardsDialog(i, selectedCopyAllCards)">
                  <div class="menu-item-padding" (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()">
                    <mat-form-field>
                      <mat-label class="white">Select a list</mat-label>
                      <mat-select [(value)]="selectedCopyAllCards">
                        <mat-option *ngFor="let list of board?.lists; index as j" [value]="j">{{list.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <br>
                    <button class="center white background-color-gray save" mat-button
                      (click)="copyAllCards(i, selectedCopyAllCards)"
                      [disabled]="selectedCopyAllCards == undefined">Copy</button>
                  </div>
                </mat-menu>

                <button mat-menu-item [disabled]="list.cards.length == 0 || board?.lists.length < 2" [matMenuTriggerFor]="moveAllCardsMenu"
                  #moveAllCardsTrigger="matMenuTrigger">Move
                  all cards</button>
                <mat-menu #moveAllCardsMenu="matMenu" (closed)="moveAllCardsDialog(i, selectedMoveAllCards)">
                  <div class="menu-item-padding" (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()">
                    <mat-form-field>
                      <mat-label class="white">Select a list</mat-label>
                      <mat-select [(value)]="selectedMoveAllCards">
                        <ng-container *ngFor="let list of board?.lists; index as j">
                          <mat-option *ngIf="i!=j" [value]="j">{{list.title}}</mat-option>
                        </ng-container>

                      </mat-select>
                    </mat-form-field>
                    <br>
                    <button class="center white background-color-gray save" mat-button
                      (click)="moveAllCards(i, selectedMoveAllCards)"
                      [disabled]="selectedMoveAllCards == undefined">Move</button>
                  </div>
                </mat-menu>
                <button class="delete" mat-menu-item [disabled]="list.cards.length == 0"
                  (click)="deleteAllCardsDialog(i)">Delete all
                  cards</button>
              </span>
            </mat-menu>
            <!--
            <button mat-icon-button class="list-more" matTooltip="New card" (click)="showAddCard(i)">
              <mat-icon>add</mat-icon>
            </button>
            -->
          </div>
          <div class="example-box-list-header cursor-default list-header"
            [ngStyle]="{'background-color':lightBackground?'lightgray':'white'}">
            <mat-form-field class="add-card-title">
              <mat-label class="black">Enter card title</mat-label>
              <input matInput [(ngModel)]="cardTitle[i]" #cardTitleInput (keyup.enter)="addCard(i)">
            </mat-form-field>
            &nbsp;
            <button mat-button (click)="addCard(i)" class="black whitesmoke padding-0">
              Add card
            </button>
          </div>
          <div class="list-content">
            <div class="example-box" *ngFor="let item of list.cards; index as j" (click)="openCardDetailsDialog(i, j)"
              [ngStyle]="{'background-color':lightBackground?'lightgray':'white'}" cdkDrag>
              <span *ngFor="let label of item?.labels">
                <span class="label" [ngStyle]="{'background-color':label}"></span>
                &nbsp;
              </span>

              <div>{{item?.title}}</div>
            </div>
          </div>

        </div>
      </td>
    </tr>
  </table>
</div>