.project-manager {
  height: 95vh;
  min-height: 95vh;
}

.project-manager-menu {
  text-align:center;
  height: 11vh;
  min-height: 4em;
  margin-left: 10px;
  border-radius: 4px;
  //margin-bottom: 1px;
  overflow: auto;
  //padding: 5px;
}

.lists {
  width:80vw;
  max-width: 100%; 
  overflow:auto;
  display:block;
  height: 84vh;
  min-height: 84vh;
}

.example-container {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  margin: 0 5px 0 10px;
  //display: inline-block;
  vertical-align: top;
}

.example-list {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  //border: solid 1px #ccc;
  min-height: 60px;
  //height: 75vh;
  //max-height: 75vh;
  background: rgb(235, 235, 235);
  border-radius: 4px;
  //overflow: auto;
  display: block;
  //margin-right: 5px;
  //margin-top: 5px;
  //margin-left: 10px;
  //padding-bottom: 10px;
}

.list-title{
  padding: 0px 10px;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: auto;
}

.example-box-list-header {
  margin: 5px;
  padding: 20px 10px;
  border-bottom: solid 1px #bbb;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  max-height: 65vh;
}

.example-box {
  margin: 8px;
  padding: 8px;
  border-bottom: solid 1px #bbb;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  max-height: 65vh;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/*
.example-box:last-child {
  border: none;
}
*/
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box {
  cursor: move;
}

.white {
  color: white !important;
}

.black-important {
  color: black !important;
}

.list-more {
  float: right;
}

.padding-0 {
  padding: 0px;
}

.list-header {
  min-height: inherit;
  max-height: 10vh;
  cursor: move;
}

.list-content {
  overflow: auto;
  max-height: 59vh;
  border-radius: 4px;
}

td {
  padding: 0;
}


.black {
  color:black;
}

.whitesmoke {
  background-color: whitesmoke;
}

.add-card-title .mat-form-field-wrapper .mat-form-field-underline {
  background-color: black;
}

.add-list-title .mat-form-field-wrapper .mat-form-field-underline {
  background-color: white;
}

.add-list-title-black .mat-form-field-wrapper .mat-form-field-underline {
  background-color: black;
}

.cursor-default {
  cursor: default;
}

.board-more {
  float: right;
  color: white;
  margin-top: 10px;
}

.board-title {
  margin-top: 10px;
  //margin-right: 20px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
  float: left;
  max-width: 265px;
  overflow: auto;
  white-space: nowrap;
}

.home{
  margin-right: 10px;
  margin-top: 10px;
  background-color: whitesmoke;
  float: left;
}

.menu-item-padding {
  padding: 0 16px;
}

.center {
  text-align: center;
}


.example-list-lists {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100%;
}

.example-box-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  //cursor: move;
  flex-grow: 1;
  flex-basis: 0;
}

.example-list-lists.cdk-drop-list-dragging .example-box-lists:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.label {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid black;
  //box-shadow: #000 0px 0px 1px, #000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px;
}

.background-color-gray {
  background-color: gray;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #00d000;
}

.menu-header{
  text-align: right;
}

.float-left{
  float: left;
}

.close:hover{
  background-color: red;
}
/*
.mat-input-element {
  caret-color: black;
}
*/