<table class="main" cellspacing="0">
    <tbody>
        <tr class="menu">
            <td rowspan="2" class="vertical-menu">
                <div class="vertical-menu">  
                    <div>
                        <button mat-icon-button matTooltip="Login" (click)="openLoginDialog()">
                            <mat-icon class="vertical-menu-item">person</mat-icon>
                        </button>
                    </div>

                    <div>
                        <button mat-icon-button (click)="contextView()">
                            <mat-icon *ngIf="contextViewOn" class="vertical-menu-item">arrow_back_ios</mat-icon>
                            <mat-icon *ngIf="!contextViewOn" class="vertical-menu-item">arrow_forward_ios</mat-icon>
                        </button>
                    </div>

                    <div>
                        <button mat-icon-button matTooltip="Projects" (click)="projects()">
                            <mat-icon class="vertical-menu-item">folder</mat-icon>
                        </button>
                    </div>
                
                    <div>
                        <button mat-icon-button matTooltip="Teams" (click)="teams()">
                            <mat-icon class="vertical-menu-item">people</mat-icon>
                        </button>
                    </div>

                    <div>
                        <button mat-icon-button matTooltip="Tools" (click)="tools()">
                            <mat-icon class="vertical-menu-item">build</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="horizontal-menu">
                    <!--<button #fileButton class="menuItem" mat-button [matMenuTriggerFor]="file" #fileTrigger="matMenuTrigger" (mouseenter)="fileTrigger.openMenu()" (mouseleave)="buttonLeave(fileTrigger, fileButton)">File</button>-->
                    <button #fileButton class="menuItem" mat-button [matMenuTriggerFor]="file" #fileTrigger="matMenuTrigger" (mouseleave)="buttonLeave(fileTrigger, fileButton)">File</button>

                    <mat-menu #file="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(fileTrigger, fileButton)">
                            <button mat-menu-item>New Project</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Save</button>
                            <button mat-menu-item>Save As</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Exit</button>
                        </span>
                    </mat-menu>

                    <button #editButton class="menuItem" mat-button [matMenuTriggerFor]="edit" #editTrigger="matMenuTrigger" (mouseleave)="buttonLeave(editTrigger, editButton)">Edit</button>

                    <mat-menu #edit="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(editTrigger, editButton)">
                            <button mat-menu-item>Undo</button>
                            <button mat-menu-item>Redo</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Cut</button>
                            <button mat-menu-item>Copy</button>
                            <button mat-menu-item>Paste</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Find</button>
                            <button mat-menu-item>Replace</button>
                        </span>
                    </mat-menu>

                    <button #viewButton class="menuItem" mat-button [matMenuTriggerFor]="view" #viewTrigger="matMenuTrigger" (mouseleave)="buttonLeave(viewTrigger, viewButton)">View</button>

                    <mat-menu #view="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(viewTrigger, viewButton)">
                            <button mat-menu-item>Zoom</button>
                            <button mat-menu-item>Zoom In</button>
                            <button mat-menu-item>Zoom Out</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item [matMenuTriggerFor]="fitToWindow" #fitToWindowTrigger="matMenuTrigger">Fit to Window</button>
                            <mat-menu #fitToWindow="matMenu">
                                <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(viewTrigger, fitToWindowTrigger, viewButton)">
                                    <button mat-menu-item>Window</button>
                                    <button mat-menu-item>Window Width</button>
                                    <button mat-menu-item>Window Height</button>
                                </span>
                            </mat-menu>
                        </span>
                    </mat-menu>

                    <button #pluginsButton class="menuItem" mat-button [matMenuTriggerFor]="plugins" #pluginsTrigger="matMenuTrigger" (mouseleave)="buttonLeave(pluginsTrigger, pluginsButton)">Plugins</button>

                    <mat-menu #plugins="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(pluginsTrigger, pluginsButton)">
                            <button mat-menu-item>Install/Uninstall Plugins</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Let's Develop Plugins</button>
                        </span>
                    </mat-menu>

                    <button #preferencesButton class="menuItem" mat-button [matMenuTriggerFor]="preferences" #preferencesTrigger="matMenuTrigger" (mouseleave)="buttonLeave(preferencesTrigger, preferencesButton)">Preferences</button>

                    <mat-menu #preferences="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(preferencesTrigger, preferencesButton)">
                            <button mat-menu-item>Settings</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Theme</button>
                        </span>
                    </mat-menu>

                    <button #helpButton class="menuItem" mat-button [matMenuTriggerFor]="help" #helpTrigger="matMenuTrigger" (mouseleave)="buttonLeave(helpTrigger, helpButton)">Help</button>

                    <mat-menu #help="matMenu" [hasBackdrop]="false">
                        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(helpTrigger, helpButton)">
                            <button mat-menu-item>Welcome</button>
                            <button mat-menu-item>User Guide</button>
                            <button mat-menu-item>Documentation</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>License</button>
                            <button mat-menu-item>Privacy Statement</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>Check for Updates</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item>About</button>
                        </span>
                    </mat-menu>
                </div>
            </td>
        </tr>  
        <tr>
            <td class="context-view" *ngIf="true" [ngStyle]="{'display': contextViewOn ? '' : 'none'}">
                <app-context-view #contextView></app-context-view>
            </td>
            <td>
                <router-outlet></router-outlet>
            </td>
        </tr>
    </tbody>
</table>
   
<!--<app-life-cycles></app-life-cycles>
<div id="layout">
    <button (click)="dodaj()">Dodaj</button>
    <router-outlet></router-outlet>
</div>-->