.board{
    width: fit-content;
    margin: 10px;
    cursor: pointer;
}

.black {
    color:black;
}

.background-white{
  background-color: white;
}

.add .mat-form-field-wrapper .mat-form-field-underline {
  background-color: white;
}

.add-black .mat-form-field-wrapper .mat-form-field-underline {
  background-color: black;
}

.white {
  color: white !important;
}

.black-important {
  color: black !important;
}

.boards-menu{
  text-align:center;
  height: 11%;
  overflow: auto;
  background-color: #55aa55;
}

.add-board{
  width: 50%;
  display: inline-block;
}

.add-team{
  width: 30%;
  display: inline-block;
}

.boards{
  height: 89%;
  background-color: #55aa55;
  text-align: center;
}

.boards-more {
  float: right;
  color: white;
  margin-top: 10px;
}

.boards-more-hidden {
  float: left;
  color: white;
  margin-top: 10px;
  visibility: hidden;
}

.menu-header{
  text-align: right;
}

.close:hover{
  background-color: red;
  color: white;
}

.example-list-boards {
  width: 50%;
  max-width: 100%;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: auto;
  margin: 0 auto;
  height: 100%;
}

.example-box-boards {
  padding: 20px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  min-height: 80px;
}

.example-list-boards.cdk-drop-list-dragging .example-box-boards {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list-boards.cdk-drop-list-dragging .example-box-boards:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list-teams {
  width: 30%;
  max-width: 100%;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: auto;
  margin: 0 auto;
  height: 100%;
}

.example-box-teams {
  padding: 20px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  min-height: 80px;
}

.example-list-teams.cdk-drop-list-dragging .example-box-teams {
  cursor: move;
}

.example-list-teams.cdk-drop-list-dragging .example-box-teams:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder-boards{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92%;
}

.no-boards{
  color: gray;
}

.no-teams{
  color: gray;
}

.transform-scale:hover{
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.padding-top-0 .mat-menu-content {
  padding-top: 0px !important;
}

.menu-item-padding {
  padding: 0 16px;
}

.gray{
  color: gray;
}

.text-align-right{
  text-align: right;
}

.menu-item-margin {
  margin: 0 16px;
}

.display-inline-block{
  display: inline-block;
}

.text-align-left{
  text-align: left;
}

.margin-0{
  margin: 0;
}

.title-list-items {
  background-color: #f0f0f0;
  padding: 10px;
  color: #777;
  display:flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.width-2{
  width: 2%;
  display: inline-block;
}

.width-9{
  width: 9%;
  display: inline-block;
}

.boards-more-wrapper {
  width: 9%;
  max-width: 9%;
  display: inline-flex;
  justify-content: flex-end;
}