<div class="boards-menu">
  <div class="width-9"></div>
  <div class="add-board" [ngStyle]="{'width':showTeams?'50%':'80%'}">
    <mat-form-field *ngIf="!loading" [ngClass]="lightBackground ? 'add-black' : 'add'">
      <mat-label [ngClass]="lightBackground ? 'black-important' : 'white'">Enter board title</mat-label>
      <input #boardTitleInput [ngClass]="lightBackground ? 'black-important' : 'white'" matInput
        [(ngModel)]="boardTitle" (keyup.enter)="addBoard()">
    </mat-form-field>
    &nbsp;
    <button *ngIf="!loading" class="black background-white transform-scale" mat-button (click)="addBoard()">
      Add board
    </button>
  </div>
  <div class="width-2"></div>
  <div class="add-team" *ngIf="showTeams">
    <mat-form-field *ngIf="!loading" [ngClass]="lightBackground ? 'add-black' : 'add'">
      <mat-label [ngClass]="lightBackground ? 'black-important' : 'white'">Enter team name</mat-label>
      <input #teamNameInput [ngClass]="lightBackground ? 'black-important' : 'white'" matInput [(ngModel)]="teamName"
        (keyup.enter)="addTeam()">
    </mat-form-field>
    &nbsp;
    <button *ngIf="!loading" class="black background-white transform-scale" mat-button (click)="addTeam()">
      Add team
    </button>
  </div>
  <div class="boards-more-wrapper">
    <button mat-icon-button class="boards-more" #boardsMoreButton [matMenuTriggerFor]="boardsMoreMenu"
      #boardsMoreTrigger="matMenuTrigger" [ngStyle]="{'color': lightBackground ? 'black' : 'white'}">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu class="padding-top-0" #boardsMoreMenu="matMenu">
    <span>
      <div class="menu-header">
        <button mat-button disabled class="float-left"><b>{{currentUser?.fullName}}
            ({{currentUser?.username}})</b></button>
        <button mat-icon-button class="close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/profile']">Profile</button>
      <mat-divider></mat-divider>
      <button *ngIf="!showTeams" mat-menu-item (click)="showTeams = true">Teams</button>
      <button mat-menu-item [matMenuTriggerFor]="templatesMenu" #templatesTrigger="matMenuTrigger">Templates</button>
      <mat-menu #templatesMenu="matMenu">
        <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
          <div *ngIf="currentUser?.templates.length==0" class="menu-item-padding">
            <h3 class="gray">No templates</h3>
          </div>
          <mat-divider *ngIf="currentUser?.templates.length>0"></mat-divider>
          <div *ngFor="let template of currentUser?.templates; index as i">
            <div class="text-align-right menu-item-margin">
              <div class="display-inline-block">
                <h3 class="text-align-left margin-0">{{template.title}}</h3>
              </div>
              &nbsp;
              <button class="delete" mat-icon-button matTooltip="Delete template" (click)="deleteTemplateDialog(i)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-menu>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">Logout</button>
    </span>
  </mat-menu>
</div>

<div class="boards">
  <div cdkDropList class="example-list-boards" (cdkDropListDropped)="dropBoard($event)">
    <mat-spinner class="spinner" *ngIf="loading else loadedBoards"></mat-spinner>
    <ng-template #loadedBoards>
      <div class="title-list-items">
        <h3 class="margin-0">Boards</h3>
      </div>
      <div class="example-box-boards" *ngFor="let board of boards" cdkDrag [routerLink]="['/board', board.id]"
        [ngStyle]="{'background-color':board.background, 'color': colorsService.checkBackground(board.background) ? 'black' : 'white'}">
        {{board.title}}
      </div>
      <div class="placeholder" *ngIf="boards?.length==0">
        <h1 class="no-boards">No boards</h1>
      </div>
    </ng-template>
  </div>
  <div class="width-2"></div>
  <div *ngIf="showTeams" cdkDropList class="example-list-teams" (cdkDropListDropped)="dropTeam($event)">
    <mat-spinner class="spinner" *ngIf="loading else loadedTeams"></mat-spinner>
    <ng-template #loadedTeams>
      <div class="title-list-items">
        <h3 class="margin-0">Teams</h3>
      </div>
      <div class="example-box-teams" *ngFor="let team of teams" cdkDrag [routerLink]="['/team', team.id]"
        [ngStyle]="{'background-color':team.background, 'color': colorsService.checkBackground(team.background) ? 'black' : 'white'}">
        {{team.name}}
      </div>
      <div class="placeholder" *ngIf="teams?.length==0">
        <h1 class="no-teams">No teams</h1>
      </div>
    </ng-template>
  </div>
</div>