.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
}

.profile-profile-details {
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.mat-elevation-z8-profile-details {
  max-width: 100%;
  height: 22%;
  max-height: 22%;
  //padding: 15px;
  background-color: #f4f4f4;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.mat-tab-profile-details {
  height: 78%;
  max-height: 78%;
}

.profile-picture-profile-details {
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #e1e1e1;
}

.profile-full-name {
  display: inline-flex;
}

.vertical-align-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.project-manager-profile-details {
  height: 100%;
  border-bottom: 40px solid white;
  border-left: 40px solid white;
  border-right: 40px solid white;
  cursor: pointer;
}

.project-manager-menu-profile-details {
  text-align:center;
  height: 15%;
  border-radius: 4px;
  overflow: auto;
}

.project-manager-menu-padding-profile-details{
  padding: 10px 10px 0 10px;
}

.lists-profile-details {
  width:100%;
  max-width: 100%; 
  overflow:auto;
  display:block;
  height: 85%;
  min-height: 85%;
}

.example-container-lists {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  vertical-align: top;
  margin-left: 10px;
}

.example-list-profile-details {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  min-height: 60px;
  background: rgb(235, 235, 235);
  border-radius: 4px;
  display: block;
  height: 98%;
  max-height: 98%;
}

.example-list-lists-profile-details {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100%;
}

.board-title-profile-details {
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
  float: left;
  max-width: 265px;
  overflow: auto;
  white-space: nowrap;
}

.list-title-profile-details{
  padding: 10px;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  margin: 0;
}

.example-box-profile-details {
  margin: 8px;
  padding: 8px;
  border-bottom: solid 1px #bbb;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.example-box-lists-profile-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
}

.list-header-profile-details {
  max-height: 15%;
  height: 15%;
  overflow: auto;
  cursor: pointer;
}

.list-content-profile-details {
  overflow: auto;
  max-height: 85%;
  border-radius: 4px;
}

.label-profile-details {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid black;
}

.placeholder-profile-details{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.no-lists-profile-details{
  color: white;
}

.gray{
  color: gray;
}

.white {
  color: white !important;
}

td {
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.margin-0 {
  margin: 0;
}

.width-10 {
  width: 10%;
}

.opacity-06 {
  opacity: 0.6;
}