<mat-spinner class="spinner" *ngIf="loadingData else loaded"></mat-spinner>
<ng-template #loaded>
    <div class="profile-profile-details">
        <div class="mat-elevation-z8 mat-elevation-z8-profile-details">
            <!--<img src="" alt="logo">-->
            <br>
            <div>
                <div class="profile-picture-profile-details">
                    <h1>{{userService.userInitials(currentUser)}}</h1>
                </div>
                &nbsp;
                <h2 class="profile-full-name">{{currentUser?.fullName}}</h2>
            </div>
            <br>
            <div class="vertical-align-icon" matTooltip="Username">
                <mat-icon>person_outline</mat-icon>&nbsp;<span>@{{currentUser?.username}}</span>
            </div>
            &nbsp;
            <div class="vertical-align-icon" matTooltip="Email address">
                <mat-icon>mail_outline</mat-icon>&nbsp;<span>{{currentUser?.email}}</span>
            </div>
        </div>
        <mat-tab-group mat-align-tabs="center" class="mat-tab-profile-details"
            (selectedTabChange)="selectedTabChange($event)">
            <mat-tab label="General" *ngIf="currentUser?.id == loggedUser?.id">
                <app-profile></app-profile>
            </mat-tab>
            <mat-tab label="Cards">
                <div *ngFor="let board of boards" class="project-manager-profile-details"
                    [ngStyle]="{'background-color':board.background, 'height':board.lists.length > 0?'100%':'auto'}"
                    [routerLink]="['/board', board.id]">
                    <div class="project-manager-menu-profile-details">
                        <div class="project-manager-menu-padding-profile-details">
                            <span class="board-title-profile-details"><b>{{board?.title}}</b></span>
                        </div>
                    </div>
                    <table cellspacing="0" class="lists-profile-details" *ngIf="board?.lists.length > 0">
                        <tr class="example-list-lists-profile-details">
                            <td class="example-container-lists example-box-lists-profile-details"
                                *ngFor="let list of board?.lists"
                                [ngStyle]="{'display' : list.cards.length > 0 ? 'initial' : 'none'}">
                                <div id="{{list.id}}" class="example-list-profile-details">
                                    <div class="list-header-profile-details">
                                        <h3 class="list-title-profile-details">{{list.title}}</h3>
                                    </div>
                                    <div class="list-content-profile-details">
                                        <div class="example-box-profile-details" *ngFor="let item of list.cards"
                                            [routerLink]="['/board', board.id, list.id, item.id]"
                                            (click)="$event.stopPropagation()"
                                            [ngStyle]="{'background-color':colorsService.checkBackground(board.background) ?'lightgray':'white'}">
                                            <span *ngFor="let label of item?.labels">
                                                <span class="label-profile-details"
                                                    [ngStyle]="{'background-color':label}"></span>
                                                &nbsp;
                                            </span>
                                            <div>{{item?.title}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="placeholder-profile-details" *ngIf="board?.lists.length == 0">
                        <h1 class="no-lists-profile-details"
                            [ngStyle]="{'color': colorsService.checkBackground(board.background) ? 'gray' : 'white'}">
                            No
                            cards</h1>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Activity">
                <br>
                <div class="activities">
                    <div *ngFor="let activity of currentUser?.activities">
                        <div class="profile-picture-profile-details-activity">
                            <span><b>{{userService.userInitials({"fullName" : activity.performerFullName})}}</b></span>
                        </div>
                        &nbsp;&nbsp;
                        <div class="activity">
                            <b class="link"
                                [routerLink]="['/profile', activity.performerId]">{{activity.performerFullName}}</b>
                            {{activity.action}} <span class="link-active"
                                [routerLink]="[activity.objectLink]">{{activity.objectName}}</span><span> {{activity.location}} </span><span class="link-active" [routerLink]="[activity.locationObjectLink]">{{activity.locationObjectName}}</span>
                            <br>
                            <span class="activity-date">{{dateService.getLocaleDateTime(activity.date)}}<span
                                    *ngIf="activity.boardName"> - on board
                                    <span class="link-active"
                                        [routerLink]="['/board', activity.boardId]"><b>{{activity.boardName}}</b></span></span></span>
                        </div>
                        <br><br>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Statistics">
                <br>
                <div>
                    <div class="inline-block">
                        <h2 class="inline-block margin-0 opacity-06">Boards:</h2>
                        <br>
                        <h1 class="inline-block margin-0 opacity-06">{{boards.length}}</h1>
                    </div>
                    <div class="inline-block width-10"></div>
                    <div class="inline-block">
                        <h2 class="inline-block margin-0 opacity-06">Teams:</h2>
                        <br>
                        <h1 class="inline-block margin-0 opacity-06">{{currentUser.teams.length}}</h1>
                    </div>
                </div>
                <br><br><br>
                <app-pie-chart class="inline-block"
                    *ngIf="currentUser?.id == loggedUser?.id ? selectedTabIndex == 3 : selectedTabIndex == 2"
                    [pieChartData]="pieChartCards">
                </app-pie-chart>
                <app-pie-chart class="inline-block"
                    *ngIf="currentUser?.id == loggedUser?.id ? selectedTabIndex == 3 : selectedTabIndex == 2"
                    [pieChartData]="pieChartTasks">
                </app-pie-chart>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-template>