.right{
    float: right;
}

.login-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-card {
	padding-top: 0;
    /*background-color: #ececec;*/
    /*border: solid white 3px;*/
    box-shadow: unset;
}