.login-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-card {
	padding-top: 0;
    /*background-color: #ececec;*/
    /*border: solid white 3px;*/
    box-shadow: unset;
}

.login-content {
	margin-top: 20px;
}

.password-form {
    margin-top: 10px;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #005da6;*/
}