<form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="login-content">
  <mat-form-field>
    <span matPrefix>
      <mat-icon aria-hidden="false" aria-label="Person icon">person</mat-icon>
    </span>
    <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required>
    <mat-error>{{formError.mapErrors(usernameInput, 'Username')}}</mat-error>
  </mat-form-field><br>
  <mat-form-field class="password-form">
    <span matPrefix>
      <mat-icon aria-hidden="false" aria-label="Lock icon">lock</mat-icon>
    </span>
    <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
    <mat-error>{{formError.mapErrors(passwordInput, 'Password')}}</mat-error>
  </mat-form-field><br>
  <p class="message">{{message}}</p>
  <button cdkFocusInitial class="login-button" mat-raised-button color="primary" type="submit">LOGIN <mat-icon
      aria-hidden="false" aria-label="Example home icon">input</mat-icon></button>
</form>