<div class="vision">
<button class="left white" mat-icon-button matTooltip="Back" routerLink=""><mat-icon>chevron_left</mat-icon></button>
<button class="right white" mat-icon-button matTooltip="Next" routerLink=""><mat-icon>chevron_right</mat-icon></button>
<h1 class="title">Vision</h1>
<br>

<h2 class="title">Introduction</h2>
<p class="description">The purpose of this document is to collect, analyze, and define high-level needs and features of the &lt;&lt;System Name&gt;&gt;. It focuses on the capabilities needed by the stakeholders and the target users, and why these needs exist. The details of how the &lt;&lt;System Name&gt;&gt; fulfills these needs are detailed in the use-case and supplementary specifications.</p>

<mat-form-field appearance="outline">
    <mat-label>Purpose</mat-label>
    <textarea matInput placeholder="Specify the purpose of this Vision document."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Scope</mat-label>
    <textarea matInput placeholder="A brief description of the scope of this Vision document; what Project(s) it is associated with and anything else that is affected or influenced by this document."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Definitions, Acronyms, and Abbreviations</mat-label>
    <textarea matInput placeholder="This subsection provides the definitions of all terms, acronyms, and abbreviations required to properly interpret the Vision document. This information may be provided by reference to the project’s Glossary."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>References</mat-label>
    <textarea matInput placeholder="This subsection provides a complete list of all documents referenced elsewhere in the Vision document. Identify each document by title, report number if applicable, date, and publishing organization. Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document."></textarea>
</mat-form-field>

<br>

<h2 class="title">Positioning</h2>

<mat-form-field appearance="outline">
    <mat-label>Business Opportunity</mat-label>
    <textarea matInput placeholder="Briefly describe the business opportunity being met by this project."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Problem Statement</mat-label>
    <textarea matInput placeholder="Provide a statement summarizing the problem being solved by this project."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Product Position Statement</mat-label>
    <textarea matInput placeholder="Provide an overall statement summarizing, at the highest level, the unique position the product intends to fill in the marketplace."></textarea>
</mat-form-field>

<br>

<h2 class="title">Stakeholder and User Descriptions</h2>
<p class="description">To effectively provide products and services that meet your stakeholders’ and users' real needs, it is necessary to identify and involve all of the stakeholders as part of the Requirements Modeling process. You must also identify the users of the system and ensure that the stakeholder community adequately represents them. This section provides a profile of the stakeholders and users involved in the project, and the key problems that they perceive to be addressed by the proposed solution. It does not describe their specific requests or requirements as these are captured in a separate stakeholder requests artifact. Instead, it provides the background and justification for why the requirements are needed.</p>

<mat-form-field appearance="outline">
    <mat-label>Market Demographics</mat-label>
    <textarea matInput placeholder="Summarize the key market demographics that motivate your product decisions. Describe and position target market segments. Estimate the market’s size and growth by using the number of potential users or the amount of money your customers spend trying to meet needs that your product or enhancement would fulfill. Review major industry trends and technologies. Answer these strategic questions:

• 	What is your organization’s reputation in these markets? 
•	What would you like it to be? 
• 	How does this product or service support your goals?
    "></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Stakeholder Summary</mat-label>
    <textarea matInput placeholder="There are a number of stakeholders with an interest in the development and not all of them are end users. Present a summary list of these non-user stakeholders."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>User Summary</mat-label>
    <textarea matInput placeholder="Present a summary list of all identified users."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>User Environment</mat-label>
    <textarea matInput placeholder="Detail the working environment of the target user. Here are some suggestions:
   
    •	Number of people involved in completing the task? Is this changing?
    •	How long is a task cycle? Amount of time spent in each activity? Is this changing?
    •	Any unique environmental constraints: mobile, outdoors, in-flight, and so on?
    •	Which systems platforms are in use today? Future platforms?
    •	What other applications are in use? Does your application need to integrate with them?

    This is where extracts from the Business Model could be included to outline the task and roles involved and so on.
    "></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Stakeholder Profiles</mat-label>
    <textarea matInput placeholder="Describe each stakeholder in the system. Remember that stakeholder types can be as divergent as users, departments, and technical developers. A thorough profile would cover the following topics for each type of stakeholder."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>User Profiles</mat-label>
    <textarea matInput placeholder="Describe each unique user of the system. Remember user types can be as divergent as gurus and novices. For example, a guru might need a sophisticated, flexible tool with cross-platform support, while a novice might need a tool that is easy to use and user-friendly. A thorough profile needs to cover the following topics for each type of user."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Key Stakeholder or User Needs</mat-label>
    <textarea matInput placeholder="List the key problems with existing solutions as perceived by the stakeholder or user. Clarify the following issues for each problem:
   
    •	What are the reasons for this problem? 
    •	How is it solved now?
    •	What solutions does the stakeholder or user want?

    It is important to understand the relative importance the stakeholder or user places on solving each problem. Ranking and cumulative voting techniques indicate problems that must be solved versus issues they would like addressed.
    "></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Alternatives and Competition</mat-label>
    <textarea matInput placeholder="Identify alternatives the stakeholder perceives as available. These can include buying a competitor’s product, building a homegrown solution or simply maintaining the status quo. List any known competitive choices that exist or may become available. Include the major strengths and weaknesses of each competitor as perceived by the stakeholder or end user."></textarea>
</mat-form-field>

<br>

<h2 class="title">Product Overview</h2>
<p class="description">This section provides a high level view of the product capabilities, interfaces to other applications, and system configurations.</p>

<mat-form-field appearance="outline">
    <mat-label>Product Perspective</mat-label>
    <textarea matInput placeholder="This subsection of the Vision document puts the product in perspective to other related products and the user’s environment. If the product is independent and totally self-contained, state it here. If the product is a component of a larger system, then this subsection needs to relate how these systems interact and needs to identify the relevant interfaces between the systems. One easy way to display the major components of the larger system, interconnections, and external interfaces is with a block diagram."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Summary of Capabilities</mat-label>
    <textarea matInput placeholder="Summarize the major benefits and features the product will provide. For example, a Vision document for a customer support system may use this part to address problem documentation, routing, and status reporting without mentioning the amount of detail each of these functions requires.
    Organize the functions so the list is understandable to the customer or to anyone else reading the document for the first time. A simple listing the key benefits and their supporting features might suffice."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Assumptions and Dependencies</mat-label>
    <textarea matInput placeholder="List each of the factors that affect the features stated in the Vision document. List assumptions that, if changed, will alter the Vision document. For example, an assumption may state that a specific operating system will be available for the hardware designated for the software product. If the operating system is not available, the Vision document will need to change."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Cost and Pricing</mat-label>
    <textarea matInput placeholder="For products sold to external customers and for many in-house applications, cost and pricing issues can directly impact the application’s definition and implementation. In this section, record any cost and pricing constraints that are relevant. For example, distribution costs, (# of diskettes, # of CD-ROMs, CD mastering) or other cost of goods sold constraints (manuals, packaging) may be material to the projects success, or irrelevant, depending on the nature of the application."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Licensing and Installation</mat-label>
    <textarea matInput placeholder="Licensing and installation issues can also directly impact the development effort. For example, the need to support serializing, password security or network licensing will create additional requirements of the system that must be considered in the development effort.
    Installation requirements may also affect coding or create the need for separate installation software."></textarea>
</mat-form-field>

<br>

<h2 class="title">Product Features</h2>
<p class="description">List and briefly describe the product features. Features are the high-level capabilities of the system that are necessary to deliver benefits to the users. Each feature is an externally desired service that typically requires a series of inputs to achieve the desired result. For example, a feature of a problem tracking system might be the ability to provide trending reports. As the use-case model takes shape, update the description to refer to the use cases.
    Because the Vision document is reviewed by a wide variety of involved personnel, the level of detail needs to be general enough for everyone to understand. However, enough detail must be available to provide the team with the information they need to create a use-case model.
    To effectively manage application complexity, we recommend for any new system, or an increment to an existing system, capabilities are abstracted to a high enough level so 25-99 features result. These features provide the fundamental basis for product definition, scope management, and project management. Each feature will be expanded in greater detail in the use-case model.
    Throughout this section, each feature will be externally perceivable by users, operators or other external systems. These features need to include a description of functionality and any relevant usability issues that must be addressed. The following guidelines apply:
    
    •	Avoid design. Keep feature descriptions at a general level. Focus on capabilities needed and why (not how)	 they should be implemented.
    </p>

<mat-form-field appearance="outline">
    <mat-label>Product Features</mat-label>
    <textarea matInput placeholder="Specify the Product Features."></textarea>
</mat-form-field>

<br>

<h2 class="title">Constraints</h2>

<mat-form-field appearance="outline">
    <mat-label>Constraints</mat-label>
    <textarea matInput placeholder="Note any design constraints, external constraints or other dependencies."></textarea>
</mat-form-field>

<br>

<h2 class="title">Quality Ranges</h2>

<mat-form-field appearance="outline">
    <mat-label>Quality Ranges</mat-label>
    <textarea matInput placeholder="Define the quality ranges for performance, robustness, fault tolerance, usability, and similar characteristics that are not captured in the Feature Set."></textarea>
</mat-form-field>

<br>

<h2 class="title">Precedence and Priority</h2>

<mat-form-field appearance="outline">
    <mat-label>Precedence and Priority</mat-label>
    <textarea matInput placeholder="Define the priority of the different system features."></textarea>
</mat-form-field>

<br>

<h2 class="title">Other Product Requirements</h2>
<p class="description">At a high level, list applicable standards, hardware or platform requirements, performance requirements, and environmental requirements.</p>

<mat-form-field appearance="outline">
    <mat-label>Applicable Standards</mat-label>
    <textarea matInput placeholder="List all standards with which the product must comply. These can include legal and regulatory (FDA, UCC) communications standards (TCP/IP, ISDN), platform compliance standards (Windows, UNIX, and so on), and quality and safety standards (UL, ISO, CMM)."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>System Requirements</mat-label>
    <textarea matInput placeholder="Define any system requirements necessary to support the application. These can include the supported host operating systems and network platforms, configurations, memory, peripherals, and companion software."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Performance Requirements</mat-label>
    <textarea matInput placeholder="Use this section to detail performance requirements. Performance issues can include such items as user load factors, bandwidth or communication capacity, throughput, accuracy, and reliability or response times under a variety of loading conditions."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Applicable Standards</mat-label>
    <textarea matInput placeholder="Detail environmental requirements as needed. For hardware- based systems, environmental issues can include temperature, shock, humidity, radiation, and so forth. For software applications, environmental factors can include usage conditions, user environment, resource availability, maintenance issues, and error handling and recovery."></textarea>
</mat-form-field>

<br>

<h2 class="title">Documentation Requirements</h2>
<p class="description">This section describes the documentation that must be developed to support successful application deployment.</p>

<mat-form-field appearance="outline">
    <mat-label>User Manual</mat-label>
    <textarea matInput placeholder="Describe the purpose and contents of the User Manual. Discuss desired length, level of detail, need for index, glossary of terms, tutorial versus reference manual strategy, and so on. Formatting and printing constraints must also be identified."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Online Help</mat-label>
    <textarea matInput placeholder="Many applications provide an online help system to assist the user. The nature of these systems is unique to application development as they combine aspects of programming (hyperlinks, and so forth) with aspects of technical writing, such as organization and presentation. Many have found the development of an online help system is a project within a project that benefits from up-front scope management and planning activity."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Installation Guides, Configuration, and Read Me File</mat-label>
    <textarea matInput placeholder="A document that includes installation instructions and configuration guidelines is important to a full solution offering. Also, a Read Me file is typically included as a standard component. The Read Me file can include a &quot;What's New With This Release&quot; section, and a discussion of compatibility issues with earlier releases. Most users also appreciate documentation defining any known bugs and workarounds in the Read Me file."></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Labeling and Packaging</mat-label>
    <textarea matInput placeholder="Today's state-of-the-art applications provide a consistent look and feel that begins with product packaging and manifests through installation menus, splash screens, help systems, GUI dialogs, and so on. This section defines the needs and types of labeling to be incorporated into the code. Examples include copyright and patent notices, corporate logos, standardized icons and other graphic elements, and so forth."></textarea>
</mat-form-field>
</div>