.title{
    color:#cccccc;
    text-align: center;
}

.description {
    color:#cccccc;
    text-align: justify;
}

textarea {
    color: white;
}

mat-form-field {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.white {
    color: white;
}

.vision {
    height: 95vh;
    overflow: auto;
}