<div class="boards-menu">
  <mat-form-field *ngIf="!loading" [ngClass]="lightBackground ? 'add-board-title-black' : 'add-board-title'">
    <mat-label [ngClass]="lightBackground ? 'black-important' : 'white'">Enter board title</mat-label>
    <input #boardTitleInput [ngClass]="lightBackground ? 'black-important' : 'white'" matInput [(ngModel)]="boardTitle"
      (keyup.enter)="addBoard()">
  </mat-form-field>
  &nbsp;
  <button *ngIf="!loading" class="black background-white transform-scale" mat-button (click)="addBoard()">
    Add board
  </button>
  <button mat-icon-button class="boards-more" #boardsMoreButton [matMenuTriggerFor]="boardsMoreMenu"
    #boardsMoreTrigger="matMenuTrigger" [ngStyle]="{'color': lightBackground ? 'black' : 'white'}">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #boardsMoreMenu="matMenu">
    <span>
      <div class="menu-header">
        <button mat-button disabled class="float-left"><b>{{currentUser?.fullName}}
            ({{currentUser?.username}})</b></button>
        <button mat-icon-button class="close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/profile']">Profile</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">Logout</button>
    </span>
  </mat-menu>
</div>

<div class="boards">
  <div cdkDropList class="example-list-boards" (cdkDropListDropped)="drop($event)">
    <mat-spinner class="spinner" *ngIf="loading else loaded"></mat-spinner>
    <ng-template #loaded>
      <div class="example-box-boards" *ngFor="let board of boards" cdkDrag [routerLink]="['/projectManager', board.id]"
        [ngStyle]="{'background-color':board.background, 'color': checkBackground(board.background) ? 'black' : 'white'}">
        {{board.title}}
      </div>
      <div class="placeholder" *ngIf="boards?.length==0">
        <h1 class="no-boards">No boards</h1>
      </div>
    </ng-template>
  </div>
</div>