html, body { height: 100%; overflow: hidden; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.delete:hover{
  background-color: red !important;
  color: white !important;
}

.spinner {
  margin: 0 auto;
}