/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.delete:hover{
  background-color: red !important;
}

.save:hover{
  background-color: green !important;
}

/*

@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";

body, html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

//Custom scrollbar
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 70, 70); 
}

.lm_content:hover {
  &::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}


// Drag handle was to big
.lm_splitter.lm_vertical .lm_drag_handle {
  height: 5px;
  top: 0; 
}
.lm_splitter.lm_horizontal .lm_drag_handle {
  width: 5px;
  left: 0;
}

//Scroll auto for golden layout
.lm_content {
  overflow: auto;
}



*/