<div class="life-cycles">
<h1 class="title">Software Development Life Cycles</h1>

<mat-accordion>
  <mat-expansion-panel *ngFor = "let lifeCycle of lifeCycles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{lifeCycle.name}}
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    Description.

    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step *ngFor = "let process of lifeCycle.processes" completed>
          <ng-template matStepLabel>{{process.name}}</ng-template>
          Description.
      </mat-step>

      <ng-template matStepperIcon="edit" let-index="index">
          {{index+1}}
      </ng-template>
  
      <ng-template matStepperIcon="done" let-index="index">
          {{index+1}}
      </ng-template>

      <ng-template matStepperIcon="number" let-index="index">
          {{index+1}}
      </ng-template>
    </mat-vertical-stepper>

    <mat-action-row>
      <button mat-button routerLink="/vision">SELECT</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New model
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div cdkDropListGroup>
      <div class="example-container">
        <h2>Processes</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>
    
      <div class="example-container">
        <h2>New life cycle model</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button>CREATE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</div>