<div class="project-manager" [ngStyle]="{'background-color':boardBackground}">
  <div class="project-manager-menu">
    <div class="project-manager-menu-padding">
      <button mat-icon-button class="home transform-scale margin-top-10" [routerLink]="['/']" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
      <span *ngIf="!loading" class="board-title margin-top-10"><b>{{board?.title}}</b></span>
      <button *ngIf="!loading" mat-icon-button class="board-more margin-top-10" #boardMoreButton
        [matMenuTriggerFor]="boardMoreMenu" #boardMoreTrigger="matMenuTrigger"
        [ngStyle]="{'color': lightBackground ? 'black' : 'whitesmoke'}">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="padding-top-0" #boardMoreMenu="matMenu">
        <span>
          <div class="menu-header">
            <button mat-button disabled class="float-left"><b>Board actions</b></button>
            <button mat-icon-button class="close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="aboutThisBoard" #aboutThisBoardTrigger="matMenuTrigger">About this
            board</button>
          <mat-menu #aboutThisBoard="matMenu" (closed)="saveBoardDescriptionDialog()">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea cdkTextareaAutosize #boardDescriptionAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" matInput placeholder="Enter board description" [(ngModel)]="boardDescription"
                  #boardDescriptionInput></textarea>
              </mat-form-field>
              <br>
              <button class="center white background-color-default transform-scale" mat-button
                (click)="saveBoardDescription()">Save</button>
            </div>

          </mat-menu>
          <button mat-menu-item [matMenuTriggerFor]="changeBackgroundMenu"
            #changeBackgroundTrigger="matMenuTrigger">Change background</button>
          <mat-menu #changeBackgroundMenu="matMenu">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label>Color</mat-label>
                <input #changeBackgroundInput type="color" matInput [(ngModel)]="boardBackground"
                  (change)="changeBackground()">
              </mat-form-field>
            </div>
          </mat-menu>

          <button mat-menu-item [matMenuTriggerFor]="activityMenu" #activityTrigger="matMenuTrigger">Activity</button>
          <mat-menu #activityMenu="matMenu">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <div *ngIf="board?.activities.length==0" class="menu-item-padding">
                <h3 class="gray">No activity</h3>
              </div>
              <div class="activities-board" *ngIf="board?.activities.length>0">
                <div *ngFor="let activity of board?.activities">
                  <div class="profile-picture-board-activity">
                    <span><b>{{userService.userInitials({"fullName" : activity.performerFullName})}}</b></span>
                  </div>
                  &nbsp;&nbsp;
                  <div class="activity-board">
                    <b class="link" [routerLink]="['/profile', activity.performerId]">{{activity.performerFullName}}</b>
                    {{activity.action}} <span class="link-active-board"
                      [routerLink]="[activity.objectLink]">{{activity.objectName}}</span><span> {{activity.location}}
                    </span><span class="link-active-board"
                      [routerLink]="[activity.locationObjectLink]">{{activity.locationObjectName}}</span>
                    <br>
                    <span class="activity-date-board">{{dateService.getLocaleDateTime(activity.date)}}<span
                        *ngIf="activity.boardName"> - on
                        board
                        <span class="link-active-board"
                          [routerLink]="['/board', activity.boardId]"><b>{{activity.boardName}}</b></span></span></span>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </mat-menu>
          <mat-divider></mat-divider>

          <button mat-menu-item [matMenuTriggerFor]="addUsersMenu" #addUsersTrigger="matMenuTrigger">Add users</button>
          <mat-menu #addUsersMenu="matMenu">

            <button mat-menu-item [matMenuTriggerFor]="addIndividualUsersMenu"
              #addIndividualUsersTrigger="matMenuTrigger">Add individual
              users</button>
            <mat-menu #addIndividualUsersMenu="matMenu" (closed)="resetAddUser()">
              <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                <mat-form-field>
                  <mat-label>Email address or username</mat-label>
                  <input #addUsersInput placeholder="Enter email address or username" matInput [(ngModel)]="newUser"
                    (keyup.enter)="addUser()">
                </mat-form-field>
                <br>
                <button class="center white background-color-default transform-scale" mat-button
                  (click)="addUser()">Add</button>
                <p *ngIf="errorMessageNewUser" class="error-message white">{{errorMessageNewUser}}</p>
              </div>
            </mat-menu>

            <span [matTooltip]="currentUser?.teams.length > 0 ? '' : 'No teams'">
              <button [disabled]="currentUser?.teams.length == 0" mat-menu-item
                [matMenuTriggerFor]="addUsersFromTeamMenu" #addUsersFromTeamTrigger="matMenuTrigger">Add
                users from team</button></span>
            <mat-menu #addUsersFromTeamMenu="matMenu" (closed)="resetAddUsersFromTeam()">
              <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                <mat-form-field>
                  <mat-label>Team</mat-label>
                  <mat-select [(ngModel)]="selectedTeam" (selectionChange)="setTeamMembersChecked()">
                    <mat-option *ngFor="let team of currentUser?.teams" [value]="team">
                      {{team.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngFor="let member of selectedTeam?.members; index as k">
                  <br>
                  <mat-checkbox [color]="checkboxColor" [(ngModel)]="checkedTeamMembers[k]">{{member.fullName}}
                    ({{member.username}})</mat-checkbox>
                </div>
                <br>
                <button class="center white background-color-default transform-scale" mat-button
                  (click)="addUsersFromTeam()">Add</button>
                <p *ngIf="errorMessageNewUsersFromTeam" class="error-message white">{{errorMessageNewUsersFromTeam}}</p>
              </div>
            </mat-menu>
          </mat-menu>

          <button class="delete" mat-menu-item [matMenuTriggerFor]="deleteUsersMenu"
            #deleteUsersTrigger="matMenuTrigger">Delete
            users</button>
          <mat-menu #deleteUsersMenu="matMenu">
            <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <div *ngIf="board?.users.length==1" class="menu-item-padding">
                <h3 class="gray">No users</h3>
              </div>
              <mat-divider *ngIf="board?.users.length>1"></mat-divider>
              <div *ngFor="let user of board?.users; index as i" class="menu-item-padding">
                <div *ngIf="currentUser?.id != user.id">
                  <br>
                  <div class="text-align-right">
                    <div class="float-left">
                      <div class="profile-picture-card-members">
                        <span><b>{{userService.userInitials({"fullName" : user.fullName})}}</b></span>
                      </div>
                      &nbsp;
                      <div class="suggestion-card-member">
                        <h3 class="text-align-left margin-0 link" [routerLink]="['/profile', user.id]">
                          {{user.fullName}}</h3>
                        <span class="text-align-left" matTooltip="Username">@{{user.username}}</span>
                      </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="delete" mat-icon-button matTooltip="Delete user" (click)="deleteUserDialog(i)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                  <br>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
          </mat-menu>
          <mat-divider></mat-divider>

          <span [matTooltip]="currentUser?.teams.length > 0 ? '' : 'No teams'">
            <button [disabled]="currentUser?.teams.length == 0" mat-menu-item [matMenuTriggerFor]="addTeamsMenu"
              #addTeamsTrigger="matMenuTrigger">Add teams</button></span>
          <mat-menu #addTeamsMenu="matMenu" (closed)="resetAddTeam()">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label>Team</mat-label>
                <mat-select [(ngModel)]="newTeam">
                  <mat-option *ngFor="let team of currentUser?.teams" [value]="team">
                    {{team.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <button class="center white background-color-default transform-scale" mat-button
                (click)="addTeam()">Add</button>
              <p *ngIf="errorMessageNewTeam" class="error-message white">{{errorMessageNewTeam}}</p>
            </div>
          </mat-menu>

          <button class="delete" mat-menu-item [matMenuTriggerFor]="deleteTeamsMenu"
            #deleteTeamsTrigger="matMenuTrigger">Delete
            teams</button>
          <mat-menu #deleteTeamsMenu="matMenu">
            <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <div *ngIf="board?.teams.length==0" class="menu-item-padding">
                <h3 class="gray">No teams</h3>
              </div>
              <mat-divider *ngIf="board?.teams.length>0"></mat-divider>
              <div *ngFor="let team of board?.teams; index as i">
                <div class="text-align-right menu-item-margin">
                  <div class="display-inline-block">
                    <h3 class="text-align-left link" [routerLink]="['/team', team?.id]">{{team.name}}</h3>
                  </div>
                  &nbsp;
                  <button class="delete" mat-icon-button matTooltip="Delete team" (click)="deleteTeamDialog(i)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </div>
            </div>
          </mat-menu>
          <mat-divider></mat-divider>

          <span [matTooltip]="currentUser?.templates.length > 0 ? '' : 'No templates'">
            <button [disabled]="currentUser?.templates.length == 0" mat-menu-item
              [matMenuTriggerFor]="createFromTemplateMenu" #createFromTemplateTrigger="matMenuTrigger">Create board from
              template</button>
          </span>
          <mat-menu #createFromTemplateMenu="matMenu" (closed)="resetCreateFromTemplate()">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label>Template</mat-label>
                <mat-select [(ngModel)]="template">
                  <mat-option *ngFor="let template of currentUser?.templates" [value]="template">
                    {{template.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <button class="center white background-color-default transform-scale" mat-button
                (click)="createFromTemplate()">Create</button>
              <p *ngIf="errorMessageNewTeam" class="error-message white">{{errorMessageCreateFromTemplate}}</p>
            </div>
          </mat-menu>

          <button mat-menu-item (click)="addTemplate()">Save as a template</button>

          <mat-divider></mat-divider>

          <span [matTooltip]="board?.parentBoard ? board.parentBoard.title : 'No parent board'">
            <button mat-menu-item [routerLink]="['/board', board?.parentBoard?.boardId]"
              [disabled]="!board?.parentBoard">Go to the parent board
            </button>
          </span>

          <button mat-menu-item [matMenuTriggerFor]="childBoardsMenu" #childBoardsTrigger="matMenuTrigger">Sub
            boards</button>
          <mat-menu #childBoardsMenu="matMenu">
            <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <div *ngIf="board?.childBoards?.length==0" class="menu-item-padding">
                <h3 class="gray">No sub boards</h3>
              </div>
              <mat-divider *ngIf="board?.childBoards?.length>0"></mat-divider>
              <div *ngFor="let subBoard of board?.childBoards; index as i">
                <div>
                  <br>
                  <div class="text-align-right menu-item-margin">
                    <div>
                      <h3 class="text-align-left margin-0 link" [routerLink]="['/board', subBoard.boardId]">
                        {{subBoard.title}}
                      </h3>
                    </div>
                  </div>
                  <br>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
          </mat-menu>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="$event.stopPropagation();showAddList()">New list</button>
          <button [disabled]="board?.lists.length < 1" class="delete" mat-menu-item
            (click)="deleteAllListsDialog()">Delete all lists</button>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="renameBoardMenu" #renameBoardTrigger="matMenuTrigger">Rename
            board</button>
          <mat-menu #renameBoardMenu="matMenu" (closed)="saveBoardTitleDialog()">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input #renameBoardInput placeholder="Enter board title" matInput [(ngModel)]="boardTitle"
                  (keyup.enter)="renameBoard()">
              </mat-form-field>
              <br>
              <button class="center white background-color-default transform-scale" mat-button
                (click)="renameBoard()">Save</button>
            </div>
          </mat-menu>
          <button *ngIf="currentUser?.id == board?.users[0]?.id" class="delete" mat-menu-item
            (click)="deleteBoardDialog()">Delete board</button>
          <button *ngIf="currentUser?.id != board?.users[0]?.id" class="delete" mat-menu-item
            (click)="leaveBoardDialog()">Leave board</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Logout</button>
        </span>
      </mat-menu>
      &nbsp;&nbsp;
      <span *ngIf="!loading">
        <mat-form-field [ngClass]="lightBackground ? 'add-list-title-black' : 'add-list-title'">
          <mat-label [ngClass]="lightBackground ? 'black-important' : 'white'">Enter list title</mat-label>
          <input #listTitleInput [ngClass]="lightBackground ? 'black-important' : 'white'" matInput
            [(ngModel)]="listTitle" (keyup.enter)="addList()">
        </mat-form-field>
        &nbsp;
        <button class="black whitesmoke transform-scale" mat-button (click)="addList()">
          Add list
        </button>
      </span>
    </div>
  </div>
  <mat-spinner class="spinner" *ngIf="loading else loaded"></mat-spinner>
  <ng-template #loaded>
    <table cellspacing="0" class="lists">
      <tr class="example-list-lists" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropList($event)">
        <td class="example-container example-box-lists" *ngFor="let list of board?.lists; index as i" cdkDrag>
          <div id="{{list.id}}" cdkDropList [cdkDropListData]="list.cards" [cdkDropListConnectedTo]="connectedTo"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="list-header" cdkDragHandle>
              <h3 class="list-title">{{list.title}}</h3>
              <button mat-icon-button class="list-more" #listMoreButton [matMenuTriggerFor]="listMoreMenu"
                #listMoreTrigger="matMenuTrigger" (click)="listTitleRename = list.title">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #listMoreMenu="matMenu" class="padding-top-0">
                <span>
                  <div class="menu-header">
                    <button mat-button disabled class="float-left"><b>List actions</b></button>
                    <button mat-icon-button class="close">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="$event.stopPropagation();showAddCard(i)">New card</button>

                  <button mat-menu-item [matMenuTriggerFor]="copyListMenu" #copyListTrigger="matMenuTrigger">Copy
                    list</button>
                  <mat-menu #copyListMenu="matMenu"
                    (closed)="copyListDialog(i, selectedCopyListPosition, selectedCopyList, selectedMoveBoard)">
                    <div class="menu-item-padding" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()">
                      <mat-form-field>
                        <mat-label>Select a board</mat-label>
                        <mat-select [(value)]="selectedMoveBoard">
                          <ng-container *ngFor="let boardSelected of allUserBoards">
                            <mat-option [value]="boardSelected">{{boardSelected.title}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <div
                        *ngIf="selectedMoveBoard?.lists.length>0 && (selectedMoveBoard?.id != board.id || board.lists.length>1)">
                        <br>
                        <mat-form-field>
                          <mat-label>Select a position</mat-label>
                          <mat-select [(value)]="selectedCopyListPosition">
                            <mat-option value="before">Before</mat-option>
                            <mat-option value="after">After</mat-option>
                          </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                          <mat-label>Select a list</mat-label>
                          <mat-select [(value)]="selectedCopyList">
                            <ng-container *ngFor="let list of selectedMoveBoard?.lists; index as j">
                              <mat-option [value]="j">{{list.title}}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <br>
                      <button class="center white background-color-default transform-scale" mat-button
                        (click)="copyList(i, selectedCopyListPosition, selectedCopyList, selectedMoveBoard)">Copy</button>
                    </div>
                  </mat-menu>

                  <button mat-menu-item [matMenuTriggerFor]="moveListMenu" #moveListTrigger="matMenuTrigger">Move
                    list</button>
                  <mat-menu #moveListMenu="matMenu"
                    (closed)="moveListDialog(i, selectedMoveListPosition, selectedMoveList, selectedMoveBoard)">
                    <div class="menu-item-padding" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()">
                      <mat-form-field>
                        <mat-label>Select a board</mat-label>
                        <mat-select [(value)]="selectedMoveBoard">
                          <ng-container *ngFor="let boardSelected of allUserBoards">
                            <mat-option [value]="boardSelected"
                              *ngIf="boardSelected.id != board.id || board.lists.length>1">{{boardSelected.title}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="selectedMoveBoard?.lists.length>0">
                        <br>
                        <mat-form-field>
                          <mat-label>Select a position</mat-label>
                          <mat-select [(value)]="selectedMoveListPosition">
                            <mat-option value="before">Before</mat-option>
                            <mat-option value="after">After</mat-option>
                          </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                          <mat-label>Select a list</mat-label>
                          <mat-select [(value)]="selectedMoveList">
                            <ng-container *ngFor="let list of selectedMoveBoard?.lists; index as j">
                              <mat-option *ngIf="i!=j || board.id != selectedMoveBoard.id" [value]="j">{{list.title}}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <br>
                      <button class="center white background-color-default transform-scale" mat-button
                        (click)="moveList(i, selectedMoveListPosition, selectedMoveList, selectedMoveBoard)">Move</button>
                    </div>
                  </mat-menu>

                  <button mat-menu-item [matMenuTriggerFor]="renameListMenu" #renameListTrigger="matMenuTrigger">Rename
                    list</button>
                  <mat-menu #renameListMenu="matMenu" (closed)="saveListTitleDialog(i)">
                    <div class="menu-item-padding" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()">
                      <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input #renameListInput placeholder="Enter list title" matInput [(ngModel)]="listTitleRename"
                          (keyup.enter)="renameList(i)">
                      </mat-form-field>
                      <br>
                      <button class="center white background-color-default transform-scale" mat-button
                        (click)="renameList(i)">Save</button>
                    </div>
                  </mat-menu>
                  <button class="delete" mat-menu-item (click)="deleteListDialog(i)">Delete list</button>

                  <mat-divider></mat-divider>

                  <button mat-menu-item [disabled]="list.cards.length == 0" [matMenuTriggerFor]="copyAllCardsMenu"
                    #copyAllCardsTrigger="matMenuTrigger">Copy
                    all cards</button>
                  <mat-menu #copyAllCardsMenu="matMenu"
                    (closed)="copyAllCardsDialog(i, selectedCopyAllCards, selectedMoveBoard)">
                    <div class="menu-item-padding" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()">
                      <mat-form-field>
                        <mat-label>Select a board</mat-label>
                        <mat-select [(value)]="selectedMoveBoard">
                          <ng-container *ngFor="let boardSelected of allUserBoards">
                            <mat-option [value]="boardSelected" *ngIf="boardSelected.lists.length>0">
                              {{boardSelected.title}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="selectedMoveBoard">
                        <mat-form-field>
                          <mat-label>Select a list</mat-label>
                          <mat-select [(value)]="selectedCopyAllCards">
                            <mat-option *ngFor="let list of selectedMoveBoard?.lists; index as j" [value]="j">
                              {{list.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <br>
                      <button class="center white background-color-default transform-scale" mat-button
                        (click)="copyAllCards(i, selectedCopyAllCards, selectedMoveBoard)">Copy</button>
                    </div>
                  </mat-menu>

                  <button mat-menu-item [disabled]="list.cards.length == 0" [matMenuTriggerFor]="moveAllCardsMenu"
                    #moveAllCardsTrigger="matMenuTrigger">Move
                    all cards</button>
                  <mat-menu #moveAllCardsMenu="matMenu"
                    (closed)="moveAllCardsDialog(i, selectedMoveAllCards, selectedMoveBoard)">
                    <div class="menu-item-padding" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()">
                      <mat-form-field>
                        <mat-label>Select a board</mat-label>
                        <mat-select [(value)]="selectedMoveBoard">
                          <ng-container *ngFor="let boardSelected of allUserBoards">
                            <mat-option [value]="boardSelected" *ngIf="boardSelected.lists.length>0">
                              {{boardSelected.title}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="selectedMoveBoard">
                        <mat-form-field>
                          <mat-label>Select a list</mat-label>
                          <mat-select [(value)]="selectedMoveAllCards">
                            <ng-container *ngFor="let listSelected of selectedMoveBoard?.lists; index as j">
                              <mat-option *ngIf="i!=j || listSelected.id != list.id" [value]="j">{{listSelected.title}}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <br>
                      <button class="center white background-color-default transform-scale" mat-button
                        (click)="moveAllCards(i, selectedMoveAllCards, selectedMoveBoard)">Move</button>
                    </div>
                  </mat-menu>
                  <button class="delete" mat-menu-item [disabled]="list.cards.length == 0"
                    (click)="deleteAllCardsDialog(i)">Delete all
                    cards</button>
                </span>
              </mat-menu>
            </div>
            <div class="example-box-list-header" [ngStyle]="{'background-color':lightBackground?'lightgray':'white'}">
              <mat-form-field class="add-card-title">
                <mat-label class="black">Enter card title</mat-label>
                <input matInput [(ngModel)]="cardTitle[i]" #cardTitleInput (keyup.enter)="addCard(i)">
              </mat-form-field>
              &nbsp;
              <button mat-button (click)="addCard(i)" class="black background-ebebeb padding-0 transform-scale">
                Add card
              </button>
            </div>
            <div class="list-content">
              <div class="example-box" *ngFor="let item of list.cards; index as j" (click)="openCardDetailsDialog(i, j)"
                [ngStyle]="{'background-color':lightBackground?'lightgray':'white'}" cdkDrag>
                <span *ngFor="let label of item?.labels">
                  <span class="label-board" [ngStyle]="{'background-color':label}"></span>
                  &nbsp;
                </span>
                <div>{{item?.title}}</div>
                <span class="done-tasks">
                  <span *ngIf="item.done" matTooltip="Completed" class="done-tasks"
                    (click)="openCardDetailsDialog(i, j); $event.stopPropagation()">
                    <mat-icon>check_circle_outline</mat-icon>
                  </span>
                  <span *ngIf="item.checklists[0]?.tasks.length>0 && !item.done" matTooltip="Completed items"
                    class="done-tasks" (click)="openCardDetailsDialog(i, j, 1); $event.stopPropagation()">
                    <mat-icon>check_circle_outline</mat-icon>
                    {{tasksDoneNumber[item?.id]}}
                  </span>
                  &nbsp;&nbsp;
                  <span *ngIf="item?.members.length==1"
                    [matTooltip]="item?.members[0].fullName + ' (' + item?.members[0].username + ') '"
                    class="done-tasks" (click)="openCardDetailsDialog(i, j, 2); $event.stopPropagation()">
                    <div class="profile-picture-board"><b>{{userService.userInitials(item?.members[0])}}</b></div>
                  </span>
                  <span *ngIf="item?.members.length>1" matTooltip="Members" class="done-tasks"
                    (click)="openCardDetailsDialog(i, j, 2); $event.stopPropagation()">
                    <mat-icon>people_outline</mat-icon>
                    {{item?.members.length}}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </td>
        <div class="placeholder" *ngIf="board?.lists.length==0">
          <h1 class="no-lists" [ngStyle]="{'color': lightBackground ? 'gray' : 'white'}">No lists</h1>
        </div>
      </tr>
    </table>
  </ng-template>
</div>