.width-100{
    width: 100%;
}

.menu-item-padding {
    padding: 0 16px;
  }

.label {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    color: white;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px;
}

.vertical-align-bottom{
    vertical-align: bottom;
}

.background-color-gray {
    background-color: gray;
}

.float-right {
    float: right;
}

.float-left{
    float: left;
}

.text-align-right{
    text-align: right;
}

.close{
    float: right;
    top:-24px;
    right:-24px;
}

.close:hover{
    background-color: red;
}

.title{
    margin: 0;
    width: fit-content;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}