<div>
  <button mat-icon-button class="close" mat-dialog-close [autofocus]="false">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-title>
    <h3 class="title" matTooltip="Click to rename" [matMenuTriggerFor]="cardRenameMenu"
    #cardRenameTrigger="matMenuTrigger" (menuOpened)="cardRenameInput.focus()">{{data.board.lists[this.data.listIndex].cards[this.data.cardIndex]?.title}}</h3>
    <mat-menu #cardRenameMenu="matMenu" (closed)="saveCardTitleDialog()">
      <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field>
          <mat-label class="white">Title</mat-label>
          <input #cardRenameInput placeholder="Enter card title" class="white" matInput
            [(ngModel)]="cardTitle" (keyup.enter)="renameCard()">
        </mat-form-field>
        <br>
        <button class="center white background-color-gray save" mat-button
          (click)="renameCard();cardRenameInput.focus()">Save</button>
      </div>
    </mat-menu>
    <span *ngFor="let label of data.board.lists[this.data.listIndex].cards[this.data.cardIndex]?.labels; index as i">
      <span class="label" [ngStyle]="{'background-color':label}" [matMenuTriggerFor]="labelUpdateMenu"
        #labelUpdateTrigger="matMenuTrigger" [matTooltip]="editLabels ? 'Click to delete': 'Click to change'"
        (click)="editLabels ? deleteLabel(i) : labelUpdate = label"><span *ngIf="editLabels">X</span></span>&nbsp;
      <mat-menu #labelUpdateMenu="matMenu">
        <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
          <mat-form-field>
            <mat-label class="white">Label</mat-label>
            <input value="label" #labelUpdateInput type="color" class="white" matInput [(ngModel)]="labelUpdate"
              (change)="updateLabel(i)">
          </mat-form-field>
        </div>
      </mat-menu>
    </span>
  </div>
  <div mat-dialog-content>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="editLabels=false">
      <mat-tab label="General">
        <br>
        <button class="background-color-gray" mat-button [matMenuTriggerFor]="labelsMenu"
          #labelsTrigger="matMenuTrigger">Add Labels</button>
        <mat-menu #labelsMenu="matMenu">
          <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field>
              <mat-label class="white">Label</mat-label>
              <input #labelInput type="color" class="white" matInput [(ngModel)]="label" (change)="addLabel()">
            </mat-form-field>
          </div>
        </mat-menu>
        &nbsp;
        <mat-slide-toggle [checked]="editLabels" [color]="deleteLabelsColor"
          *ngIf="data.board.lists[this.data.listIndex].cards[this.data.cardIndex]?.labels.length>0"
          (toggleChange)="editLabels=!editLabels">
          Delete labels</mat-slide-toggle>
        <br><br>
        <div [formGroup]="cardForm">
          <mat-form-field class="width-100">
            <mat-label class="white">Description</mat-label>
            <textarea cdkTextareaAutosize #cardDescriptionAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5" matInput placeholder="Enter card description" #cardDescriptionInput
              formControlName="description" class="white" (focusout)="saveCardDescription()"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Start date</mat-label>
            <input formControlName="startDate" matInput type="datetime-local" (focusout)="saveStartDate()">
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Due date</mat-label>
            <input formControlName="endDate" matInput type="datetime-local" (focusout)="saveEndDate()">
          </mat-form-field>
        </div>
        <br>
      </mat-tab>
      <mat-tab label="Checklists">
        <br>
        <button class="background-color-gray" mat-button [matMenuTriggerFor]="checklistMenu"
          #checklistTrigger="matMenuTrigger" (menuOpened)="checklistInput.focus()">Add Checklists</button>
        <mat-menu #checklistMenu="matMenu" (closed)="checklistTitle = ''">
          <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field>
              <mat-label class="white">Title</mat-label>
              <input #checklistInput placeholder="Enter checklist title" class="white" matInput
                [(ngModel)]="checklistTitle" (keyup.enter)="addChecklist()">
            </mat-form-field>
            <br>
            <button class="center white background-color-gray save" mat-button
              (click)="addChecklist();checklistInput.focus()">Save</button>
          </div>
        </mat-menu>
        <div
          *ngFor="let checklist of data.board.lists[this.data.listIndex].cards[this.data.cardIndex]?.checklists; index as i">
          <br><br>
          <div class="text-align-right">
            <h3 class="float-left cursor-pointer" matTooltip="Click to rename" [matMenuTriggerFor]="checklistRenameMenu"
            #checklistRenameTrigger="matMenuTrigger" (menuOpened)="checklistRenameTitle = checklist.title; checklistRenameInput.focus()">{{checklist.title}}</h3>
            <mat-menu #checklistRenameMenu="matMenu" (closed)="saveChecklistTitleDialog(i)">
              <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                <mat-form-field>
                  <mat-label class="white">Title</mat-label>
                  <input #checklistRenameInput placeholder="Enter checklist title" class="white" matInput
                    [(ngModel)]="checklistRenameTitle" (keyup.enter)="renameChecklist(i)">
                </mat-form-field>
                <br>
                <button class="center white background-color-gray save" mat-button
                  (click)="renameChecklist(i);checklistRenameInput.focus()">Save</button>
              </div>
            </mat-menu>
            <button *ngIf="checklist.tasks.length>0" mat-icon-button matTooltip="Edit checklist"
              (click)="editChecklist=!editChecklist">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="delete" mat-icon-button matTooltip="Delete checklist" (click)="deleteChecklist(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br>
          <span
            class="float-right">{{checklist.tasks.length>0 ? (checked[i]/checklist.tasks.length*100 | number:'1.0-0') : 0}}%</span>
          <mat-progress-bar mode="determinate" [value]="checked[i]/checklist.tasks.length*100"></mat-progress-bar>
          <div *ngFor="let task of checklist.tasks; index as j">
            <br>
            <mat-checkbox [color]="checkboxColor" [(ngModel)]="data.board.lists[data.listIndex].cards[data.cardIndex].checklists[i].tasks[j].done"
              (change)="data.board.lists[data.listIndex].cards[data.cardIndex].checklists[i].tasks[j].done ? checkedPlus(i):checkedMinus(i); updateBoard()">{{task.title}}
            </mat-checkbox>
            <button class="delete" mat-icon-button matTooltip="Delete checkbox" (click)="deleteTask(i, j)"
              *ngIf="editChecklist">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br>
          <button class="background-color-gray" mat-button [matMenuTriggerFor]="itemMenu" #itemTrigger="matMenuTrigger"
            (menuOpened)="itemInput.focus()">Add
            an item</button>
          <mat-menu #itemMenu="matMenu" (closed)="itemTitle = ''">
            <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <mat-form-field>
                <mat-label class="white">Title</mat-label>
                <input #itemInput placeholder="Enter item title" class="white" matInput [(ngModel)]="itemTitle"
                  (keyup.enter)="addItem(i)">
              </mat-form-field>
              <br>
              <button class="center white background-color-gray save" mat-button
                (click)="addItem(i);itemInput.focus()">Save</button>
            </div>
          </mat-menu>
          <br>
        </div>
        <br><br><br>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <!--<button class="background-color-gray save" mat-button (click)="saveCardDetails()">Save</button>-->
    <button class="background-color-gray delete" mat-button (click)="deleteCard()">Delete card</button>
  </div>
</div>