<div class="padding-20">
  <h2>{{data.card.title}}</h2>
  <br>
  <span *ngFor="let label of labels; index as i">
    <span class="label" [ngStyle]="{'background-color':label}"><span matTooltip="Click to delete"
        (click)="deleteLabel(i)" *ngIf="editLabels">X</span></span>&nbsp;</span>
  <button class="vertical-align-bottom" mat-icon-button matTooltip="Edit labels" *ngIf="labels.length>0"
    (click)="editLabels=!editLabels">
    <mat-icon>edit</mat-icon>
  </button>
  <br><br>
  <button class="background-color-gray" mat-button [matMenuTriggerFor]="labelsMenu" #labelsTrigger="matMenuTrigger">Labels</button>
  <mat-menu #labelsMenu="matMenu">
    <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <mat-form-field>
        <mat-label class="white">Label</mat-label>
        <input #labelInput type="color" class="white" matInput [(ngModel)]="label" (change)="addLabel()">
      </mat-form-field>
    </div>
  </mat-menu>
  &nbsp;
  <button class="background-color-gray" mat-button (click)="deleteCard()">Delete</button>
  <br><br>
  <div [formGroup]="cardForm">
    <mat-form-field class="width-100">
      <mat-label class="white">Description</mat-label>
      <textarea cdkTextareaAutosize #cardDescriptionAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" matInput placeholder="Enter card description" #cardDescriptionInput
        formControlName="description" class="white"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input formControlName="startDate" matInput type="datetime-local">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Due date</mat-label>
      <input formControlName="endDate" matInput type="datetime-local">
    </mat-form-field>
  </div>
  <br>
  <button class="center white background-color-gray" mat-button (click)="saveCardDescription()">Save</button>
</div>