<button mat-icon-button class="close" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>{{data.card.title}}</h2>
<div mat-dialog-content>
  <span *ngFor="let label of labels; index as i">
    <span class="label" [ngStyle]="{'background-color':label}"><span matTooltip="Click to delete"
        (click)="deleteLabel(i)" *ngIf="editLabels">X</span></span>&nbsp;</span>
  <button class="vertical-align-bottom" mat-icon-button matTooltip="Edit labels" *ngIf="labels.length>0"
    (click)="editLabels=!editLabels">
    <mat-icon>edit</mat-icon>
  </button>
  <br><br>
  <button class="background-color-gray" mat-button [matMenuTriggerFor]="labelsMenu"
    #labelsTrigger="matMenuTrigger">Labels</button>
  <mat-menu #labelsMenu="matMenu">
    <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <mat-form-field>
        <mat-label class="white">Label</mat-label>
        <input #labelInput type="color" class="white" matInput [(ngModel)]="label" (change)="addLabel()">
      </mat-form-field>
    </div>
  </mat-menu>
  &nbsp;
  <button class="background-color-gray" mat-button [matMenuTriggerFor]="checklistMenu"
    #checklistTrigger="matMenuTrigger">Checklist</button>
  <mat-menu #checklistMenu="matMenu" (closed)="checklistTitle = ''">
    <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <mat-form-field>
        <mat-label class="white">Title</mat-label>
        <input #checklistInput placeholder="Enter checklist title" class="white" matInput [(ngModel)]="checklistTitle"
          (keyup.enter)="addChecklist()">
      </mat-form-field>
      <br>
      <button class="center white background-color-gray" mat-button (click)="addChecklist()">Save</button>
    </div>
  </mat-menu>
  <br>
  <div *ngFor="let checklist of data.card.checklists; index as i">
    <h3>{{checklist.title}}</h3>
    <div *ngFor="let task of checklist.tasks">
      <mat-checkbox>{{task.title}}</mat-checkbox>
      <br>
    </div>
    <br>
    <button class="background-color-gray" mat-button [matMenuTriggerFor]="itemMenu" #itemTrigger="matMenuTrigger">Add
      an item</button>
    <mat-menu #itemMenu="matMenu" (closed)="itemTitle = ''">
      <div class="menu-item-padding" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field>
          <mat-label class="white">Title</mat-label>
          <input #itemInput placeholder="Enter item title" class="white" matInput [(ngModel)]="itemTitle"
            (keyup.enter)="addItem(i)">
        </mat-form-field>
        <br>
        <button class="center white background-color-gray" mat-button (click)="addItem(i)">Save</button>
      </div>
    </mat-menu>
  </div>
  <br>
  <div [formGroup]="cardForm">
    <mat-form-field class="width-100">
      <mat-label class="white">Description</mat-label>
      <textarea cdkTextareaAutosize #cardDescriptionAutosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" matInput placeholder="Enter card description" #cardDescriptionInput
        formControlName="description" class="white"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input formControlName="startDate" matInput type="datetime-local">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Due date</mat-label>
      <input formControlName="endDate" matInput type="datetime-local">
    </mat-form-field>
  </div>
  <br>
</div>
<div mat-dialog-actions>
  <button class="background-color-gray" mat-button (click)="saveCardDetails()">Save</button>
  <button class="background-color-gray" mat-button (click)="deleteCard()">Delete card</button>
</div>